@layout('layouts/horizontal')

@section('content')
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2>{{ antl.for('es').formatMessage('app.env') }}  <span>encuestas</span> Productive</h2>
    </div>
  </div>
@endsection
