@layout('layouts/horizontal')

@section('scripts')

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>

    <script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="/assets/plugins/datatables/jszip.min.js"></script>
    <script src="/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="/assets/plugins/datatables/vfs-fonts.js"></script>
    <script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.colVis.js"></script>
    <script src="/assets/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="/assets/plugins/parsleyjs/parsley.min.js"></script>

    <script src="/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

    <script>

function function_crud(operation) {
    /*
    $('#input-persona-nombres').val('');
    $('#input-persona-apellido-paterno').val('');
    $('#input-persona-apellido-materno').val('');
    $('#input-persona-genero').val('');
    $('#input-persona-email').val('');
    $('#input-persona-fecha-nacimiento').val('');
    $('#input-persona-pais').val('');
*/
    //if ($('#form-crud-input-proceso').val() == '') { return false; }
    //if ($('#form-crud-input-etapa').val() == '') { return false; }
    //if ($('#form-crud-input-tarea').val() == '') { return false; }
    //if ($('#form-crud-input-accion').val() == '') { return false; }
    if ($('#form-crud-input-persona-identificador').val() == '') { return false; }

        var csrf = $('input[name=_csrf]').val();
        var obj = {
            persona_identificador: $('#form-crud-input-persona-identificador').val(),
            _csrf:csrf
        };

        swal({
            title: 'Procesando, favor espere.',
            html:'<div class="progress m-b-20"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>',
            footer: '',
            allowOutsideClick: false,
            allowEscapeKey: false,
            showConfirmButton: false,
            showCloseButton: false
        });

        $.ajax({
            type: "POST",
            url: "/Administracion/Persona/getPersonaByIdentificadorV2",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (result) {

                swal.close();

                if (result.data == null) {
                    if (operation == 'remove') {
                        swal({
                        type: 'error',
                        text: 'Persona no existe.'
                    });
                }
                    if (operation == 'add') {
                        swal({
                            html: ''+
'<div class="row">'+
'<div class="col-md-12 form-group"><label>Persona no existe en registros, favor ingresar datos.</label></div>'+
'</div>'+

'<form action="#" id="form-crud-form-add" name="form-crud-form-add">'+

'<div class="row">'+
'<div class="col-md-4 form-group"><label for="input-persona-nombres">Nombres<span class="text-danger">*</span></label></div>'+
'<div class="col-md-8 form-group"><input type="text" class="form-control" id="input-persona-nombres" required placeholder="Nombres"></div>'+
'</div>'+

'<div class="row">'+
'<div class="col-md-4 form-group"><label for="input-persona-apellido-paterno">Apellido Paterno<span class="text-danger">*</span></label></div>'+
'<div class="col-md-8 form-group"><input type="text" class="form-control" id="input-persona-apellido-paterno" required placeholder="Apellido Paterno"></div>'+
'</div>'+

'<div class="row">'+
'<div class="col-md-4 form-group"><label for="input-persona-apellido-materno">Apellido Materno<span class="text-danger">*</span></label></div>'+
'<div class="col-md-8 form-group"><input type="text" class="form-control" id="input-persona-apellido-materno" required placeholder="Apellido Materno"></div>'+
'</div>'+

'<div class="row">'+
'<div class="col-md-4 form-group"><label for="input-persona-email">Email</label></div>'+
'<div class="col-md-8 form-group"><input type="text" class="form-control" id="input-persona-email" placeholder="Email"></div>'+
'</div>'+

'<div class="row">'+
'<div class="col-md-4 form-group"><label for="input-persona-fecha-nacimiento">Nacimiento</label></div>'+
'<div class="col-md-8 form-group"><input type="text" class="form-control" id="input-persona-fecha-nacimiento" placeholder="Nacimiento"></div>'+
'</div>'+
/*
'<div class="row">'+
'<div class="col-md-6 form-group">'+
'<button type="submit" id="form-crud-form-add-button-save" name="form-crud-form-add-button-save" class="btn btn-primary btn-rounded w-md waves-effect waves-light">Guardar</button>'+
'</div>'+
'<div class="col-md-6 form-group">'+
'<button onclick="alert("dfsdf");" class="btn btn-warning btn-rounded w-md waves-effect waves-light">Guardar</button>'+
'</div>'+
*/
'</form>',

    showCancelButton: true,
    showLoaderOnConfirm: true,
    confirmButtonText: 'Guardar',
    cancelButtonText: 'Cancelar',
    confirmButtonClass: 'btn btn-primary btn-rounded w-md waves-effect waves-light',
    cancelButtonClass: 'btn btn-warning btn-rounded w-md waves-effect waves-light',
    allowOutsideClick: false,
    preConfirm: function(result) {
    return new Promise(function(resolve, reject) {


    $('#form-crud-form-add').parsley().validate();
        if ($('#form-crud-form-add').parsley().isValid()) {
            var html = [];
            html.push('<tr>');
            html.push('<td>' + $('#form-crud-input-persona-identificador').val() + '</td>');
            html.push('<td>' + $('#input-persona-nombres').val() + '</td>');
            html.push('<td>' + $('#input-persona-apellido-paterno').val() + '</td>');
            html.push('<td>' + $('#input-persona-apellido-materno').val() + '</td>');
            html.push('<td>' + $('#input-persona-email').val() + '</td>');
            html.push('<td>' + $('#input-persona-fecha-nacimiento').val() + '</td>');
            html.push('<td>' + 'null' + '</td>');
            html.push('<td>' + 'null' + '</td>');
            html.push('<td><img class="icon-colored" src="/assets/images/icons/add_database.svg" title="Agregar" style="height:24px;width:24px;margin:0px;"></td>');
            html.push('<td style="display:none;">' + 'ADD' + '</td>');
            html.push('</tr>');
            $(html.join("")).appendTo
            ('#table-crud > tbody'); 
            $('#form-crud-input-persona-identificador').val('');
            resolve();
        } else {
            reject();
        }


        
    });
  }
});





                    }
                } else {
            var opIcon = '';
            var opCode = '';
            if (operation == 'add') {
                opCode = 'ADD';
                opIcon = '<img class="icon-colored" src="/assets/images/icons/add_database.svg" title="Agregar" style="height:24px;width:24px;margin:0px;">';
            }
            if (operation == 'remove') {
                opCode = 'REM';
                opIcon = '<img class="icon-colored" src="/assets/images/icons/delete_database.svg" title="Quitar" style="height:24px;width:24px;margin:0px;">';
            }
            var html = [];
            html.push('<tr>');
            html.push('<td>' + result.data[0].identificador + '</td>');
            html.push('<td>' + result.data[0].nombres + '</td>');
            html.push('<td>' + result.data[0].apellidoPaterno + '</td>');
            html.push('<td>' + result.data[0].apellidoMaterno + '</td>');
            html.push('<td>' + result.data[0].email + '</td>');
            html.push('<td>' + result.data[0].fechaNacimiento + '</td>');
            html.push('<td>' + result.data[0].genero_desc + '</td>');
            html.push('<td>' + result.data[0].pais_desc + '</td>');
            html.push('<td>' + opIcon + '</td>');
            html.push('<td style="display:none;">' + opCode + '</td>');
            html.push('</tr>');
            $(html.join("")).appendTo('#table-crud > tbody'); 
            $('#form-crud-input-persona-identificador').val('');
            swal.close();



                }
            }
        });
}

$(document).ready(function() {

$('#form-crud-input-proceso').change(function() {
    $('#form-crud-input-etapa option').remove();
    $('#form-crud-input-tarea option').remove();
    $('#form-crud-input-accion option').remove();

    $("#table-crud > tbody").empty();

    if ($('#form-crud-input-proceso').val() == '') {
        return false;
    } else {
        var csrf = $('input[name=_csrf]').val();
        var obj = {
            _csrf:csrf,
            'edeproceso_id' : $('#form-crud-input-proceso').val()
        };
        $.ajax({
            type: "POST",
            url: "/Entity/EdeEtapaController/getByEdeProceso",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (result) {
                var o = new Option('--Seleccione--', '');
                $(o).html('--Seleccione--');
                $('#form-crud-input-etapa').append(o);
                for (var i in result) {
                    var o = new Option(result[i].nombre, result[i].id);
                    $(o).html(result[i].nombre);
                    $('#form-crud-input-etapa').append(o);
                }
            }
        });
    }
});

$('#form-crud-input-etapa').change(function() {
    $('#form-crud-input-tarea option').remove();
    $('#form-crud-input-accion option').remove();

    $("#table-crud > tbody").empty();

    if ($('#form-crud-input-etapa').val() == '') {
        return false;
    } else {
        var csrf = $('input[name=_csrf]').val();
        var obj = {
            _csrf:csrf,
            'ede_etapa_id' : $('#form-crud-input-etapa').val()
        };
        $.ajax({
            type: "POST",
            url: "/Entity/EdeEtapaTareaController/getByEdeEtapaId",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (result) {
                console.log(JSON.stringify(result));
                var o = new Option('--Seleccione--', '');
                $(o).html('--Seleccione--');
                $('#form-crud-input-tarea').append(o);
                for (var i in result) {
                    var o = new Option(result[i].nombre, result[i].id);
                    $(o).html(result[i].nombre);
                    $('#form-crud-input-tarea').append(o);
                }
            }
        });
    }
});

$('#form-crud-input-tarea').change(function() {
    $('#form-crud-input-accion option').remove();

    $("#table-crud > tbody").empty();

    if ($('#form-crud-input-tarea').val() == '') {
        return false;
    } else {
        var csrf = $('input[name=_csrf]').val();
        var obj = {
            _csrf:csrf,
            'ede_etapa_tarea_id' : $('#form-crud-input-tarea').val()
        };
        $.ajax({
            type: "POST",
            url: "/Entity/EdeEtapaTareaAccionController/getByEdeEtapaTareaId",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(obj),
            dataType: "json",
            success: function (result) {
                console.log(JSON.stringify(result));
                var o = new Option('--Seleccione--', '');
                $(o).html('--Seleccione--');
                $('#form-crud-input-accion').append(o);
                for (var i in result) {
                    var o = new Option(result[i].nombre, result[i].id);
                    $(o).html(result[i].nombre);
                    $('#form-crud-input-accion').append(o);
                }
            }
        });
    }
});

$("#form-crud-button-add").click(function() {
    function_crud('add');
});

$("#form-crud-button-remove").click(function() {
    function_crud('remove');
});

$("#form-crud-button-confirm").click(function() {
    alert('entro');

    var obj= { participantes : [] };

    $('#table-crud > tbody > tr').each(function() {
        var obj_temp = {
            identificador : $(this).find('td:eq(' + '0' + ')').text(),
            nombres : $(this).find('td:eq(' + '1' + ')').text(),
            apellido_paterno : $(this).find('td:eq(' + '2' + ')').text(),
            apellido_materno : $(this).find('td:eq(' + '3' + ')').text(),
            email : $(this).find('td:eq(' + '4' + ')').text(),
            fecha_nacimiento : '2018-01-01',
            genero_id : 'da68141f-0f3a-11e8-bf12-bc764e100f2b',
            pais_id : 'f0606913-7b05-11e8-80db-bc764e10787e',
            operacion: $(this).find('td:eq(' + '9' + ')').text()
        };
        obj.participantes.push(obj_temp);
    });
    console.log(JSON.stringify(obj));

});

$("#form-crud-button-cancel").click(function() {
    $("#table-crud > tbody").empty();
});

$("#btnAgregarEtapa").click(function() {

    var persona_identificador = $("#idProceso").val();
    var persona_nombres = $("#idProceso").val();
    var persona_apellido_paterno = $("#idProceso").val();
    var persona_apellido_materno = $("#idProceso").val();
    var persona_genero_id = $("#idProceso").val();
    var persona_email = $("#idProceso").val();
    var persona_fecha_nacimiento = $("#idProceso").val();
    var persona_pais = $("#idProceso").val();

    var obj = {
        persona_identificador:persona_identificador,
        persona_nombres:persona_nombres,
        persona_apellido_paterno:persona_apellido_paterno,
        persona_apellido_materno:persona_apellido_materno,
        persona_genero_id:persona_genero_id,
        persona_email:persona_email,
        persona_fecha_nacimiento:persona_fecha_nacimiento,
        persona_pais:persona_nacionalidad_id,
        _csrf:csrf
    };

$.ajax({    
    type: "POST",
    url: "/Administracion/Desempeno/addEtapa",
    contentType: "application/json; charset=utf-8",
    data: JSON.stringify(obj),
    dataType: "json", 
    success: function (msg) {
       
        swal({
            title:'Exito',
            text:'La Etapa se agregó correctamente',
            type:'success'
        }).then(function(result){
            window.location = "/Administracion/Desempeno/fichaproceso?idProceso="+idProceso;
        });
     
    }
}); 
}); 



var table  = $('#datatable').DataTable({
    "ordering": false,
    //"searching": false,
    "language": {"url": "/assets/plugins/datatables/locales/es_CL.js"},
    "processing": true,
    "serverSide": true,
    "ajax": "/Desempeno/ParticipanteController/getParticipanteListByProcesoId"
});
/*
    //setup - add a text input to each footer cell
    $('#datatable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search '+title+'" />');
    });
 
    //datatable
    var table = $('#datatable').DataTable({
        "ordering": false,
        "searching": false,
        "language": {"url": "/assets/plugins/datatables/locales/es_CL.js"},
        "processing": true,
        "serverSide": true,
        "ajax": "/Desempeno/ParticipanteController/getParticipanteListByProcesoId"
    });
 
    //apply the search
    table.columns().every(
        function () {
            var that = this;
            $('input', this.footer()).on(
                'keyup change',
                function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            );
        }
    );
*/
$('#inputSearchCol1').on('keyup', function(){
    alert(this.value);
    table.columns(1).search(this.value).draw();
});
});
    </script>

@endsection

@section('pluginsCss')
    <link href="/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
@endsection


@section('content')
    @!component('components.breadcrumb',title="Procesos de Desempeño", pages= [
        {nombre:"Administración",activa:false},
        {nombre:"Desempeño",activa:false},
        {nombre:"Participantes",activa:true}
    ])

    {{ csrfField() }}

    <input type="hidden" id="idProceso" value="{{datosProceso[0].idProceso}}">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary"> 
                    <h3 class="portlet-title">
                        <!--{{datosProceso[0].proceso_nombre}}-->
                        Participantes
                    </h3>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">

                <div class="portlet-heading bg-primary">
                        <h3 class="portlet-title">Agregar / Quitar</h3>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#participantes">
                            <i class="mdi mdi-minus"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            
                <div class="panel-collapse collapse in">
                    <div class="portlet-body">

                        <form action="#" id="form-crud" name="form-crud">
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form-crud-input-proceso">Proceso<span class="text-danger">*</span></label>
                                        <select class="form-control" id="form-crud-input-proceso" required>
                                            <option value="">--Seleccione--</option>
                                            @each(proceso in proceso_list)
                                            <option value="{{proceso.id}}">{{proceso.nombre}}</option>
                                            @endeach
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form-crud-input-etapa">Etapa<span class="text-danger">*</span></label>
                                        <select class="form-control" id="form-crud-input-etapa" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form-crud-input-tarea">Tarea<span class="text-danger">*</span></label>
                                        <select class="form-control" id="form-crud-input-tarea" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="form-crud-input-accion">Acci&oacute;n<span class="text-danger">*</span></label>
                                        <select class="form-control" id="form-crud-input-accion" required>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="form-crud-input-persona-identificador">Identificador<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="form-crud-input-persona-identificador" required placeholder="Identificador">
                                        </div>
                                </div>
                                <div class="col-md-6">
                                </div>                                    
                                <div class="col-md-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="width:100%;">&nbsp;</label>
                                            <button style="float:right;" type="submit" id="form-crud-button-add" name="button-add-participante"
                                            class="btn btn-primary btn-rounded w-md waves-effect waves-light">Agregar</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="width:100%;">&nbsp;</label>
                                            <button style="float:right;" type="submit" id="form-crud-button-remove" name="button-add-participante"
                                            class="btn btn-warning btn-rounded w-md waves-effect waves-light">Quitar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                                <div class="row">
                                    <div class="col-md-12">
                                        <hr/>
                                    </div>
                                </div>

                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="width:100%;">Participantes modificados</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table-crud" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Identificador</th>
                                                    <th>Nombres</th>
                                                    <th>Ap. Paterno</th>
                                                    <th>Ap. Materno</th>
                                                    <th>Email</th>
                                                    <th>Nacimiento</th>
                                                    <th>Genero</th>
                                                    <th>Pais</th>
                                                    <th>Operaci&oacute;n</th>
                                                    <th style="display:none;">op-code</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-9">
                                    </div>                                    
                                    <div class="col-md-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="width:100%;">&nbsp;</label>
                                                <button style="float:right;" type="submit" id="form-crud-button-confirm" name="form-crud-button-confirm"
                                                class="btn btn-primary btn-rounded w-md waves-effect waves-light">Confirmar</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="width:100%;">&nbsp;</label>
                                                <button style="float:right;" type="submit" id="form-crud-button-cancel" name="form-crud-button-cancel"
                                                class="btn btn-warning btn-rounded w-md waves-effect waves-light">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary">
                    <h3 class="portlet-title">
                        Buscar
                    </h3>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#resultado">
                            <i class="mdi mdi-minus"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!--
                <div id="resultado" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            -->

                        <div class="panel-collapse collapse in">
                            <div class="portlet-body">

                                    <div class="row">
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                            <label for="identificador">Proceso</label>
                                                                @!component('components.Utils.listarCombos', data={id:"registroGenero", comboGenero:comboGenero, requerido:"true"})
                                                        </div>                                    </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                            <label for="identificador">Etapa</label>
                                                            @!component('components.Utils.listarCombos', data={id:"registroGenero", comboGenero:comboGenero, requerido:"true"})
                                                        </div>                                    </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                            <label for="identificador">Tarea</label>
                                                                @!component('components.Utils.listarCombos', data={id:"registroGenero", comboGenero:comboGenero, requerido:"true"})
                                                        </div>                                    </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                            <label for="identificador">Accion</label>
                                                            @!component('components.Utils.listarCombos', data={id:"registroGenero", comboGenero:comboGenero, requerido:"true"})
                                                        </div>                                    </div>
                                        </div>

                                        <div class="row">
                                                <div class="col-md-12">
                                                        <hr/>
                                        </div>
                                            </div>

                                <div class="row">
                                    <ul class="list-group">
                                        <div class="table-responsive">
                                            <table id="datatable" class="table table-colored-bordered table-hover" >
                                                    

                                                <thead style="background-color: #44500c">
                                                    <tr>
                                                        <th></th>
                                                        <th>Nombres</th>
                                                        <th>Apellido Paterno</th>
                                                        <th>Apellido Materno</th>
                                                        <th>Identificador</th>
                                                        <th>Pais</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <input id="inputSearchCol1" type="text" value=""/>
                                                        </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </ul>
                                </div>
                                <!--
                                <div class="row pull-right">
                                    <div class="col-md-12">
                                    <a href="agregarEtapa?idProceso={{datosProceso[0].idProceso}}" class="btn btn-warning btn-xs btn-rounded btn-bordered waves-effect w-md waves-light"><i class="fa fa-edit"></i> Agregar Etapa</a>
                                    <button type="button" class="btn btn-primary btn-xs btn-rounded btn-bordered waves-effect w-md waves-light"><i class="fa fa-reorder"></i> Reordenar</button>
                                    </div>
                                </div>
                                -->
                                <br/>
                            </div>
                        </div>




            </div>
        </div>
    </div>

@endsection