 
 @each(organigrama in orgChart)
<div class="clearfix"></div>
   
<p class="m-b-0"><a href="#" class="text-muted"><img src="{{organigrama.PersonaFoto}}" alt="task-user" class="thumb-sm img-circle m-r-10"> <span class="font-bold font-secondary">{{organigrama.nombresPersona}} {{organigrama.apellidoPaterno}} {{organigrama.apellidoMaterno}}</br> {{organigrama.CargoNombre}}</span></a> </p>
 
 @endeach
 
 
 valor 12
 
 <div id="people"></div>










            










