 

 
@each(organigrama in orgChart)
 <input id="prodId" class="aa" name="prodId" type="hidden" value="{{organigrama.nombresPersona}}">
 @endeach

 <div id="people"></div>










            










