<div class="card-box widget-box-two widget-two-custom">
    <i class="{{icon}} widget-two-icon"></i>
    <div class="wigdet-two-content">
        <p class="m-0 text-uppercase font-bold font-secondary text-overflow" title="{{titulo}}">{{titulo}}</p>
        <h2 class=""><span></span> <span data-plugin="counterup">{{dato}}</span></h2>
        <p class="m-0">{{pie}}</p>
    </div>
</div>