@each(data in datos)
<div class="card-box widget-box-four">
    <div id="dashboard-1" class="widget-box-four-chart"></div>
    <div class="wigdet-four-content pull-left">
        <h4 class="m-t-0 font-16 m-b-5 text-overflow">{{data.titulo}}</h4>
        <p class="font-secondary text-muted">{{data.subtitulo}}</p>
        <h3 class="m-b-0 m-t-20"><span data-plugin="counterup">{{data.dato}}</span></h3>
    </div>
    <div class="clearfix"></div>
</div>
 @endeach
