<!DOCTYPE html>

<html>
  <head>
     <meta charset="utf-8" />
        <title>Enovum</title>
        <link rel="manifest" href="/manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="theme-color" content="#317EFB"/>

        <!-- App favicon -->
        <style>
        [v-cloak] {
            display: none;
        }
        </style>
        <link rel="shortcut icon" href="{{theme(request.hostname())}}/assets/images/logo_sm.png">
         @!section('pluginsCss')
    
        
        <link href="{{theme(request.hostname())}}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="{{theme(request.hostname())}}/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/tooltipster/tooltipster.bundle.min.css" rel="stylesheet" type="text/css" />
        <script src="/assets/js/vue.min.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        @!section('pluginsCss2')
  </head>

  <body>
    
      <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    


                    

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <!-- Logo container-->
                    <div class="logo-main">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--Zircos-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="/" class="logo">
                            <img src="{{theme(request.hostname())}}/assets/images/empresa/logoempresa.png" alt="" height="63">
                        </a>
                        <a href="/" class="logo-min">
                            <img src="{{theme(request.hostname())}}/assets/images/empresa/logo_sm.png" alt="" height="63">
                        </a>

                    </div>
                    <!-- End Logo container-->
                    
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            @loggedIn
                             
                            <li class="has-submenu">
                                <a href="/"><i class="fi-air-play"></i><span>Inicio</span></a>
                            </li>
                            @include('partials/menu')
                             @endloggedIn
                            <!--<li class="has-submenu">
                                <a href="/Administracion/administracion/administrador"><i class="fi-briefcase"></i><span>Administrador</span></a>
                                
                            </li>-->

                            

                            <!--<li class="has-submenu">
                                <a href="/Rrhh/rrhh/reporte"><i class="fi-paper"></i><span>Reportes</span></a>
                                
                            </li>-->

                            

                            

                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->

                    <div class="menu-extras">

                        <ul class="nav navbar-nav navbar-right pull-right">
                            <!--<li class="navbar-c-items">
                                <form role="search" class="navbar-left app-search pull-left hidden-xs">
                                     <input type="text" placeholder="Search..." class="form-control">
                                     <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </li>-->

                            
                            @loggedIn
                             <li class="dropdown navbar-c-items">
                                <a href="" class="dropdown-toggle waves-effect profile" data-toggle="dropdown" aria-expanded="true"><img src="/assets/images/users/maestro.png" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                    <!--<li><a href="/Persona/Ficha/index"><i class="dripicons-user m-r-10"></i> Perfil</a></li>-->
                                    <!--<li><a href="/Persona/Ficha/historia"><i class="dripicons-clipboard m-r-10"></i>  Historia</a></li>-->
                                    <li><a href="/logout"><i class="dripicons-power m-r-10"></i> Salir</a></li>
                                </ul>

                            </li>
                            @else
                             <li><a href="/login">Login</a></li>   
                            @endloggedIn
                            
                        </ul>
                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>
                    <!-- end menu-extras -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container">
                       
                         @!section('content')
    
                        
							
						


                    </div> <!-- container -->

                </div> <!-- content -->
                
                <footer class="footer text-left">
                      <img src="{{theme(request.hostname())}}/assets/images/innovum_logo.png" alt="" height="50">
                       2018 © 
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



    
      <script>
            var resizefunc = [];
        </script>
        
        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/metisMenu.min.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/assets/js/dist/notificacionesSistema.min.js"></script>
         
        @!section('scripts2')

        <!-- App js -->
        <script src="/themes/horizontal/assets/js/jquery.core.js"></script>
        <script src="/themes/horizontal/assets/js/jquery.app.js"></script>
        <script src="/assets/plugins/tooltipster/tooltipster.bundle.min.js"></script>
        <script src="/themes/horizontal/assets/js/modernizr.min.js"></script>



        <script>
        $(document).ready(()=>{
            //$("body").toggleClass("enlarged");
        });
        </script>
        @!section('scripts')
          <script>
      (function() {
        'use strict';

        if (!('serviceWorker' in navigator)) {
          console.log('Service worker not supported');
          return;
        }
        navigator.serviceWorker.register('/assets/js/sw.js')
        .then(function() {
          console.log('Registered');
        })
        .catch(function(error) {
          console.log('Registration failed:', error);
        });

      })();
    </script>
  </body>
</html>




 