            <select class="form-control select2" id="{{data.id}}">
                <option value="0">--Seleccione--</option>
                @each(item in data.comboGenero)
                    <option value="{{item.codigo}}">{{item.nombre}}</option>
                @endeach
            </select>